<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<br>
<div class="container">
    <img [src]="'assets/planets/' + planet.name + '.jpg'" onerror="this.src='assets/no_image2.jpg';" />
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{planet.name | uppercase}}'s details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>Rotation period</td>
                    <td>{{planet.rotation_period}}</td>
                </tr>
                <tr>
                    <td>Orbital period</td>
                    <td>{{planet.orbital_period}}</td>
                </tr>
                <tr>
                    <td>Diameter</td>
                    <td>{{planet.diameter}}</td>
                </tr>
                <tr>
                    <td>Climate</td>
                    <td>{{planet.climate}}</td>
                </tr>
                <tr>
                    <td>Gravity</td>
                    <td>{{planet.gravity}}</td>
                </tr>
                <tr>
                    <td>Terrain</td>
                    <td>{{planet.terrain}}</td>
                </tr>
                <tr>
                    <td>Surface water</td>
                    <td>{{planet.surface_water}}</td>
                </tr>
                <tr>
                    <td>Population</td>
                    <td>{{planet.population}}</td>
                </tr>
                <tr>
                    <td>Residents</td>
                    <div *ngFor="let residents of planet.residents">
                        <td>{{residents | planetspipe}}</td>
                    </div>
                </tr>
                <tr>
                    <td>Films</td>
                    <td>{{planet.films}}</td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>