<div class="titleWrap">
    <div>
        <button mat-raised-button color="accent" (click)=toggleHide() class="listButton">
            <mat-icon class="listIcon">list</mat-icon>&nbsp;&nbsp;Characters
        </button>
    </div>
    <div class="pagNav">
        <button mat-raised-button color="primary" (click)=goPrev() matTooltip="Go to previous page">
            <mat-icon>arrow_back_ios</mat-icon>
        </button>
        &nbsp;
        <button mat-raised-button color="primary" (click)=goNext() matTooltip="Go to next page">
            <mat-icon>arrow_forward_ios</mat-icon>
        </button>
    </div>
</div>

<br>
<div class="cardList">
    <ng-container *ngIf="show">
        <div *ngFor="let character of allCharacters" [ngClass]="{'selected': character === selectedCharacter}"
            (click)="select(character);toggleShow()">
            <mat-card class="card">
                <img mat-card-image [src]="'assets/characters/' + character.name + '.jpg'" height="300px"
                    onerror="this.src='assets/no_image2.jpg';">
                <mat-card-content>
                    <h2>{{character.name}}</h2>
                </mat-card-content>
            </mat-card>
            <br>
            <br>
        </div>
    </ng-container>
</div>

<ng-container *ngIf="hide">
    <div *ngIf="selectedCharacter">
        <app-character-details [character]="selectedCharacter">
        </app-character-details>
    </div>
</ng-container>