<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<br>
<div class="container">
    <img [src]="'assets/characters/' + character.name + '.jpg'" onerror="this.src='assets/no_image2.jpg';" />
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{character.name | uppercase}}'s details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>Birth Year</td>
                    <td>{{character.birth_year}}</td>
                </tr>
                <tr>
                    <td>Species</td>
                    <td>{{character.species | characterspipe}}</td>
                </tr>
                <tr>
                    <td>Homeworld</td>
                    <td>{{character.homeworld | characterspipe}}</td>
                </tr>
                <tr>
                    <td>Gender</td>
                    <td>{{character.gender}}</td>
                </tr>
                <tr>
                    <td>Height</td>
                    <td>{{character.height}}</td>
                </tr>
                <tr>
                    <td>Mass</td>
                    <td>{{character.mass}}</td>
                </tr>
                <tr>
                    <td>Hair color</td>
                    <td>{{character.hair_color}}</td>
                </tr>
                <tr>
                    <td>Skin color</td>
                    <td>{{character.skin_color}}</td>
                </tr>
                <tr>
                    <td>Eye color</td>
                    <td>{{character.eye_color}}</td>
                </tr>
                <!--
                <tr>
                    <td>Films</td>
                    <div *ngFor="let films of character.films">
                        <td>{{films | characterspipe}}</td>
                    </div>
                </tr>
                -->
                <tr>
                    <td>Vehicles</td>
                    <td>
                        <div *ngFor="let vehicles of character.vehicles">{{vehicles | characterspipe}}</div>
                    </td>
                </tr>
                <tr>
                    <td>Starships</td>
                    <td>
                        <div *ngFor="let starships of character.starships">{{starships | characterspipe}}</div>
                    </td>
                </tr>
            </table>
        </mat-card-content>
    </mat-card>
</div>