<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

<br>
<div class="container">
    <img [src]="'assets/species/' + species.name + '.jpg'" onerror="this.src='assets/no_image2.jpg';" />
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title>{{species.name | uppercase}}'s details</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <table class="table table-striped table-bordered">
                <tr>
                    <td>Classification</td>
                    <td>{{species.classification}}</td>
                </tr>
                <tr>
                    <td>Designation</td>
                    <td>{{species.designation}}</td>
                </tr>
                <tr>
                    <td>Homeworld</td>
                    <td>{{species.homeworld | speciespipe}}</td>
                </tr>
                <tr>
                    <td>Language</td>
                    <td>{{species.language}}</td>
                </tr>
                <tr>
                    <td>Average Lifespan</td>
                    <td>{{species.average_lifespan}}</td>
                </tr>
                <tr>
                    <td>Hair color</td>
                    <td>{{species.hair_colors}}</td>
                </tr>
                <tr>
                    <td>Skin color</td>
                    <td>{{species.skin_colors}}</td>
                </tr>
                <tr>
                    <td>Eye color</td>
                    <td>{{species.eye_colors}}</td>
                </tr>
                <tr>
                    <td>People</td>
                    <td>
                        <div *ngFor="let people of species.people">{{people | speciespipe}}</div>
                    </td>
                </tr>
                <!--<tr>
                    <td>Films</td>
                    <td>{{species.films}}</td>
                </tr>
                -->
            </table>
        </mat-card-content>
    </mat-card>
</div>